// Color Palette (Owner Panel)
$color-primary: #1f2f46;      // Navy Blue - Sidebar, Header
$color-accent: #00bfa6;       // Teal - Buttons, highlights
$color-background: #f5f7fa;   // Light Gray/White - Page background
$color-text: #333333;         // Dark Gray - Default text
$color-border: #e0e0e0;       // Light Gray - Borders, dividers

$sidebar-width: 300px;
$header-height: 60px;

$font-primary: 'Segoe UI', sans-serif;
// $font-size: 44px;