@use './variables' as *;

.site-footer {
  background-color: $color-primary;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: auto;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
